.col-12.col-md-6.col-yellow.text-white {
background-color: #ffff03b3;
}

.col-12.col-md-6.col-black.text-white {
background-color: black;
}

.row.clock {
position: relative;
left: 38%;
    top: -452px;
}

span#count {
display: none;
}

div#time {
background-color: white;
    padding: 0% 4%;
    color: black;
    font-weight: bold;
font-size: 15vh;
    border-radius: 5%;
}

button#start {
background-color: red;
    color: white;
    font-size: 3vh;
}

button#stop {
background-color: red;
    color: white;
    font-size: 3vh;
}

button#reset {
background-color: red;
    color: white;
    font-size: 3vh;
}

div#buttons {
margin: 2% 12%;
}

h1#yellow-player-point {
    position: relative;
    top: 16%;
    left: 25%;
    font-size: 39vh;
    color: #000000;
}

h1#black-player-point {
    position: relative;
    top: 16%;
    left: -24%;
    text-align: right;
    font-size: 39vh;
    color: #ffff03b3;
}

.point-button {
    background-color: #090689;
    color: #ffffff;
    padding: 1% 2%;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.yellow-player-ptn-btn {
    position: relative;
    left: 23%;
    top: 13%;
    display: flex;
    justify-content: flex-start;
}

.black-player-ptn-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 23%;
    top: 13%;
}
.yellow-mins {
    color: #ffffff;
    margin-left: -3%;
    width: 10%;
    background-color: #f00404;
    border: none;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 1%;
    font-weight: bold;
}

.yellow-plus {
    color: #ffffff;
    margin-left: -3%;
    width: 10%;
    background-color: #f00404;
    border: none;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 1%;
    font-weight: bold;
}

.black-mins {
    color: #ffffff;
    width: 10%;
    background-color: #f00404;
    border: none;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 1%;
    font-weight: bold;
}

.black-plus {
    color: #ffffff;
    width: 10%;
    background-color: #f00404;
    border: none;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 1%;
    font-weight: bold;
}

.yellow-player-plus-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 13%;
    top: -20%;
}

.black-player-plus-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: 10%;
    top: -20%;
}